src/main/mule/asd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f0f7b0ab-43b3-45f2-a3ce-70acc14d5357" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="asdFlow" doc:id="42af3f4f-97e1-44a3-b89a-0274584c396e" >
		<http:listener doc:name="Listener" doc:id="10d09007-1589-486d-a6a4-52536ef76163" path="/path" config-ref="HTTP_Listener_config"/>
		<logger level="INFO" doc:name="Logger" doc:id="be6942b3-332c-472d-be2d-0a12f65300c9" message="#[payload]"/>
	</flow>
</mule>
